<div>
  <%# <% @task.each do |item| %>
    <div style="margin:10px;">
      <%= @task.title %>
      <%= @task.details %>
      <%= @task.completed %>
    </div>
<%= link_to "Retour à la liste", index_path %>
  <%# <% end %>
</div>
